@{
    ViewData["Title"] = "Engagement";
}
<h2>Visualizar engagement</h2>

<div class="container">
    <div>
        <a class="btn btn-primary m-3" href="@Url.Action("CourseEngagement","Core")">Calcular engagement por curso</a>
        <a class="btn btn-primary m-3" href="@Url.Action("TaskEngagement","Core")">Calcular engagement por task</a>
        <a class="btn btn-primary m-3" href="@Url.Action("CourseCategoryEngagement","Core")">Calcular engagement por categoria de task</a>
    </div>
</div>
