@{
    ViewData["Title"] = "Recursos";
}
<h2>Administrar recursos</h2>

<div class="container">
    <div>
        <a class="btn btn-primary m-3" href="@Url.Action("Index","Usuario")">Visualizar usuarios</a>
        <a class="btn btn-primary m-3" href="@Url.Action("Index","Course")">Visualizar cursos</a>
        <a class="btn btn-primary m-3" href="@Url.Action("Index","Task")">Visualizar tasks</a>
    </div>
</div>
