@model ARProyectoWeb.Data.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>Editar Usuario</h2>
@if (ViewBag.Error == "Error")
{
    <div class="container">
        <div class="alert alert-primary">
            Se ha producido un error al intentar editar el usuario
        </div>
    </div>
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.UsuarioId)
    <div>
        <p>Nombre:</p>
        @Html.TextAreaFor(model => model.Nombre)
    </div>
    <div>
        <p>Correo:</p>
        @Html.TextAreaFor(model => model.Correo)
    </div>
    <input values:"Guardar" type="submit"/>
}



