@model ARProyectoWeb.Data.Models.Task
@{
    ViewData["Title"] = "Crear task";
}
<h2>Crear task</h2>
@if (ViewBag.Error != null)
{
    <div class="container">
        <div class="alert alert-primary">
            @ViewBag.Error
        </div>
    </div>
}
<div class="container">
    @using (Html.BeginForm())
    {
        <div>
            <p>Título de task</p>
            @Html.TextBoxFor(model => model.Titulo, new{@class = "form-control"})
        </div>
        <div>
            <p>Descripcion de task</p>
            @Html.TextBoxFor(model => model.Descripcion, new{@class = "form-control"})
        </div>
        <div>
            <p>Seleccioné docente creador de task</p>
            @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <input values:"Crear" type="submit" />
    }
</div>
